/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.watchList {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
}

.watchListHeader {
  background-color: #2062B8;
  color: white;
  font-style: italic;
}

.mainPanel{
 position: relative;
 right: -30px;
}

.textBox{
 position: relative;
 right: -5px;
}

.loginPanel{
	position:absolute;
	top: 20%;
    left: 43%;
}

.loginHeading{
	font-size: 2em;
  	font-weight: bold;
  	text-align: center;
	position:relative;
	top: 30px;
}
